<!DOCTYPE html>
<html>
  <head>
    <title>Jasmine Spec Runner</title>
    <%= stylesheet_link_tag "jasmine" %>
    <%= stylesheet_link_tag "spec", @asset_options.clone %>
    <%= javascript_include_tag "jasminerice" %>
    <%= javascript_include_tag @specsuite, @asset_options.clone %>
    <script type="text/javascript" src="http://localhost:8080/skewer"></script>
    <%= csrf_meta_tags %>
  </head>
  <body></body>
</html>
